<div class="container">

    <div class="row justify-content-center">
        <div class="col-md-8">

            <h1>Editar {{title}}</h1>
            <hr>


            {{!-- ENVIAMOS EL ID COMO PARAM AL ENDPOINT YA QUE ES NECESARIO PARA EDITARLO --}}
            <form action="/libros/editar/{{_id}}" method="POST">
                <div class="mb-3 mt-5">
                    <label for="bookTitle" class="form-label">Título</label>
                    <input type="text" class="form-control" id="bookTitle" name="title" value="{{title}}">
                </div>

                <div class="mb-3">
                    <label for="bookDesc" class="form-label">Descripción</label>
                    <input type="text" class="form-control" id="bookDesc" name="description" value="{{description}}">
                </div>

                <div class="mb-3 ">
                    <label for="bookAuthor" class="form-label">Autor/a</label>
                    <input type="text" class="form-control" id="bookAuthor" name="author" value="{{author}}">
                </div>

                <div class="mb-3 ">
                    <label for="bookRating" class="form-label">Puntuación</label>
                    <input type="number" class="form-control" id="bookRating" name="rating" value="{{rating}}">
                </div>

                <button type="submit" class="btn btn-dark">Guardar edición</button>
            </form>

        </div>
    </div>



</div>